<a href="https://colab.research.google.com/github/godineanvesh/Movie_recommender_system/blob/main/movierecommendedsystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv("https://github.com/SavioSal/datasets/raw/master/movie_clean.csv",encoding = 'unicode_escape')
movies.head()

                         title  ...                                           overview
0                    Toy Story  ...  Led by Woody, Andy's toys live happily in his ...
1                      Jumanji  ...  When siblings Judy and Peter discover an encha...
2             Grumpier Old Men  ...  A family wedding reignites the ancient feud be...
3            Waiting to Exhale  ...  Cheated on, mistreated and stepped on, the wom...
4  Father of the Bride Part II  ...  Just when George Banks has recovered from his ...

[5 rows x 7 columns]

In [12]:
movie_name = input("please enter the movie name: ")

please enter the movie name: Jumanji

In [13]:
movies = movies.fillna("")

In [14]:
selected_movie = movies[movies['title'].str.contains(movie_name)]

In [15]:
selected_movie

     title  ...                                           overview
1  Jumanji  ...  When siblings Judy and Peter discover an encha...

[1 rows x 7 columns]

In [16]:
selected_movie_genre = selected_movie['genres']

In [17]:
selected_movie_genre

1    ['adventure', 'fantasy', 'family']
Name: genres, dtype: object

In [19]:
movie_index_counter = -1
movie_index_list = []
for ind_movie_genre in movies['genres']:
  movie_index_counter += 1
  for single_genre in selected_movie_genre:
    if single_genre in ind_movie_genre:
      movie_index_list.append(movie_index_counter)
      break

print('Movie_index_list :', movie_index_list)

Movie_index_list : [1, 4766, 5406, 5678, 6101, 7011, 7725, 10554, 10896, 11981, 13893, 14841, 16128, 23473, 27737, 38208]

In [20]:
movies.take(movie_index_list)

                                                   title  ...                                           overview
1                                                Jumanji  ...  When siblings Judy and Peter discover an encha...
4766            Harry Potter and the Philosopher's Stone  ...  Artist Lyle Maze is reconciled to a life witho...
5406                                 Clash of the Titans  ...  Naoya and Katsuhiro are boyfriends, new in the...
5678             Harry Potter and the Chamber of Secrets  ...  A newspaper photographer, Jean, researches the...
6101                  Journey to the Center of the Earth  ...  The Benny Goodman Story is a biographical film...
7011                                           Peter Pan  ...  Using archival footage, United States Cabinet ...
7725            Harry Potter and the Prisoner of Azkaban  ...  A dramatization of the controversial trial con...
10554                Harry Potter and the Goblet of Fire  ...  Pete (played by Antti Tarvainen) loses his con...
10896                             The Brothers Lionheart  ...  The year is 2000 and investors are going crazy...
11981                              Jack the Giant Killer  ...  Bourne is brought out of hiding once again by ...
13893             Harry Potter and the Half-Blood Prince  ...  The movie focuses on one of the events in Zend...
14841  Percy Jackson & the Olympians: The Lightning T...  ...  A young father and his infant son are beset by...
16128       Harry Potter and the Deathly Hallows: Part 1  ...  Shakespeare's 17th century masterpiece about t...
23473                                          Neverland  ...  Satan's School for Girls is set within the gri...
27737                   Journey to the Beginning of Time  ...  A 2,000-year-old astrology board possesses dea...
38208                                 Old Man Khottabych  ...  Baldwinâs âpseudo-pseudo-documentaryâ pr...

[16 rows x 7 columns]

In [28]:
movies_df = movies.loc[movies['genres'].isin(selected_movie_genre)]

In [39]:
def movie_recommender():
  movies = pd.read_csv("https://github.com/SavioSal/datasets/raw/master/movie_clean.csv",encoding = 'unicode_escape')
  movie_name = input("please enter the movie name: ")
  movies = movies.fillna("")
  selected_movie = movies[movies['title'].str.contains(movie_name)]
  selected_movie_genre = selected_movie['genres']
  movies_df = movies.loc[movies['genres'].isin(selected_movie_genre)]
  print('Enjoy watching following movies :', movies_df['title'])

In [41]:
movie_recommender()

please enter the movie name: Toy Story
Enjoy watching following movies : 0                               Toy Story
589                             Pinocchio
695                      Oliver & Company
996                The Sword in the Stone
1000                                Dumbo
                       ...
45052                  Gena the Crocodile
45136                              Banana
45254            Minions: Orientation Day
45272                Hemo The Magnificent
45449    Pooh's Heffalump Halloween Movie
Name: title, Length: 268, dtype: object

In [11]:
movies.shape

(45572, 7)